body {
    background-color: ghostwhite;
    color: green;
}

/* GENERAL */

/* HEADER */

/* PROFILE PIC */
.profile-pic > img {
    cursor: pointer;
    object-fit: cover;
}

.small {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.medium {
    width: 250px;
    height: 250px;
}

/* FRAMES */
.red-frame {
    border: 2px solid red;
}

.purple-frame {
    border: 2px solid purple;
}

.green-frame {
    border: 2px solid green;
}

.blue-frame {
    border: 2px solid blue;
}

.turquoise-frame {
    border: 2px solid turquoise;
}
