* {
    box-sizing: border-box;
    margin: 0;
}
body {
    background-color: rgb(42, 65, 195);
    color: ghostwhite;
    font-family: "Nunito Sans";
}

/* GENERAL */
a {
    color: ghostwhite;
    text-decoration: none;
    transition: 0.3s ease;
}

a:hover {
    font-weight: bold;
    color: goldenrod;
}

input,
button {
    width: 250px;
    padding: 5px;
    margin: 5px 0;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

/* HEADER */
.header {
    background-color: rgb(42, 65, 195);
    z-index: 20;
    position: fixed;
    width: 100%;
    height: 68px;
    top: 0;
    padding: 5px 25px 5px 25px;
}
.logo > img {
    height: 35px;
    float: left;
}

nav {
    clear: both;
    text-align: end;
}
nav > a {
    margin-left: 5px;
    color: ghostwhite;
}

/* WELCOME */
#welcome {
    padding: 90px 25px 5px 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

/* MAIN */
.main {
    padding: 80px 25px 5px 25px;
    background-color: rgb(230, 230, 230);
    min-height: 100vh;
    /* color: rgb(42, 65, 195); */
    color: rgb(9, 11, 20);
}

.main > div {
}

/* PROFILE */

/* PROFILE PIC */
.profile-pic > img {
    cursor: pointer;
}

.small {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: right;
    object-fit: cover;
}

.medium {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.findusers {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

/* FRAMES */
.red-frame {
    border: 2px solid red;
}

.purple-frame {
    border: 2px solid purple;
}

.green-frame {
    border: 2px solid green;
}

.blue-frame {
    border: 2px solid blue;
}

.turquoise-frame {
    border: 2px solid turquoise;
}
